<div class="container-fluid">
  <div class="col-md-12">
    <h2>Watering</h2>
    <form [formGroup]="myWaterForm" (ngSubmit)="onSubmit()">
      <div class="text-center"> Value: {{ myWaterForm.value | json }}</div>
      <hr>
      <div class="container">
        <div class="row">
          <div class="col-sm-2">
            <label for="test1">Test 1: </label>
          </div>
          <div class="col-sm-2">
            <input id="test1" type="text" formControlName="test1FormControl">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-2">
            <label for="test2">Test 2: </label>
          </div>
          <div class="col-sm-2">
            <input id="test2" type="text" formControlName="test2FormControl">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-2">
            <label for="test3">Test 3: </label>
          </div>
          <div class="col-sm-2">
            <input id="test3" type="text" formControlName="test3FormControl">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-2">
            <button type="submit" [disabled]="!myWaterForm.valid">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
