<div class="row">
  <div class="container-fluid">
    <div class="col-md-12">
      <h1>Lawn Buddy</h1>
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <button (click)="toggleDisplayHlawnIf()" class="btn btn-default" type="button">Healthy Lawn</button>
        </div>
        <div class="btn-group" role="group">
          <button (click)="toggleDisplayWaterIf()" class="btn btn-default" type="button">Watering</button>
        </div>
        <div class="btn-group" role="group">
          <button (click)="toggleDisplayMowIf()" class="btn btn-default" type="button">Mowing</button>
        </div>
      </div>
      <h2>What to Do</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor at
        libero eget fringilla. Phasellus scelerisque rutrum ligula nec viverra. Sed sed
        purus sed nisi iaculis congue quis vel ante. Sed augue turpis, aliquet id suscipit
        vehicula, ultrices cursus mauris. Aliquam blandit enim eget tortor eleifend
        suscipit. In maximus, tortor sit amet cursus volutpat, diam nulla ullamcorper
        ante, vel molestie dui neque id erat. Sed semper in felis in vestibulum. Nunc
        varius porta nulla eu venenatis. Aliquam feugiat egestas velit non maximus.
        Integer dui nibh, fringilla non nibh in, fringilla egestas sem. Praesent interdum
        dolor quam, ut finibus eros pharetra a. Pellentesque quis metus sed nunc
        lacinia pretium a vitae ante. Nam nec faucibus risus. Etiam ac ultrices lacus,
        rhoncus gravida tellus. Nulla luctus blandit ornare.
        Sed ultricies vitae lacus eu tincidunt. Vivamus vehicula felis a facilisis
        ullamcorper. Sed sit amet luctus lorem. Nullam vel ante ligula. Nam pharetra
        felis magna, at elementum neque aliquam ut. In et lectus ultricies, bibendum
        dui suscipit, vulputate sem. Proin gravida ullamcorper lorem, non mattis leo
        aliquam non. Nulla tincidunt pharetra felis facilisis pretium. Quisque id ligula id
        lectus convallis pellentesque et in arcu.</p>
    </div>
  </div>
</div>
<div *ngIf="isShowMowIf">
  <app-mowing></app-mowing>
</div>
<div *ngIf="isShowHlawnIf">
  <app-h-lawn></app-h-lawn>
</div>
<div *ngIf="isShowWaterIf">
  <app-watering></app-watering>
</div>

<footer id="footID">
  <p>Author: Ernesto Cruz</p>
  <p><a href="mailto:ecruz64@me.com">ecruz64@me.com</a></p>
</footer>
