h1, h2,h3 {
  text-align: center;
  color: #286090;
}
p {
  font-family: "Times New Roman";
  color: #286090;
  font-size: 18px;
}
footer  {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
#footID {
  text-align: center;
}
